.features {
    text-align: center;
    padding: 50px 20px;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: 300;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: left;
  }
  
  .icon {
    font-size: 24px;
    width: 24px;
  }
  
  h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #384252;
    font-weight: 200;
  }

  .description {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    color: #959aa2;
    margin-bottom: 16px;
    line-height: 1.5;
    text-align: left;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
    margin-top: auto;
    align-self: flex-end;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
  