.footer {
    display: flex;
    flex-direction: column;
    background-color: #37476a;
    color: white;
    text-align: center;
    padding: 30px 20px;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: 120px;
}

.instagram {
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}

.icon {
    font-size: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}

.linkedinIcon {
    font-size: 20px;
    margin: 10px 0;
}

.copyright {
    font-size: 14px;
    opacity: 0.8;
    color: white;
}